
    .grid-container {
        display: grid;
        grid-template-columns: 40% auto;
        grid-gap: 10px;
        background-color: hsl(207, 90%, 54%);
        padding: 10px;
        text-align: center;
      }
      
      .grid-container2 >div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: left;
        padding: 20px 0;
        grid-gap: 10px;
      }
  
      .category{        
          font-family: Arial, sans-serif;
          font-size: 25px;
      }
      .productName{
          font-family: 'Trebuchet MS', sans-serif;
          font-size: 40px;
      }
      
      img {
          max-width: 100%;
          height: auto;
      }
      
      input[type=number] {
        width: 100px;
        padding: 4px 10px;
        margin: 8px 0;
        box-sizing: border-box;
      }


      .myBtnGrp{
        position: relative;
        color: #5f6368;
        border: solid 1px #dadce0;
        border-radius: 6px;
        display: inline-block;
        padding: 6px 8px 6px 8px; 
        cursor: pointer;
        font-family:Arial;
        font-size:12px;
      }
      
      .clicked_myBtnGrp{
        color: ;border-color: #000308;
        color: #4c4d50;
        background: #e9f1fe;
        font-weight:bold;
      }
        
      .myButton {
      background-color:#1a1919;
      border-radius:3px;
      border:1px solid #1a1919;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:13px;
      padding:7px 24px;
    }
    .myButton:hover {
      background-color:#3b3a3a;
    }
  
    .dpPrice {
        color: red;
        font-weight: bold;
        font-size :17px;
      }
